/* --- LOADING FONTS */

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v77/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

/* --- UNIVERSAL STYLES --- */

* {
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
body {
    padding: 0;
    margin: 0;
    color: white;
}
h2 {
    font-size: 2rem;
}
a {
    text-shadow: none;
}
a:hover {
    color: rgb(168, 109, 0);
}
.serif {
    font-family: Newsreader, serif;

}
.sans-serif {
    font-family: Manrope, sans-serif;
}
.serif,
.sans-serif {
    text-shadow: 0px 0px 2px gray;
}
.box {
    border: 3px solid rgb(32, 130, 211);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
    /* Parallax Backgrounds */
.parallax-1,
.parallax-2,
.parallax-3,
.parallax-4,
.parallax-5 {  
    /* Formatting for all parallax BGs */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 325px;
    opacity: 50%;
  }
.parallax-1 {
    /* Individual Image */
    background-image: url(../img/coding.jpg);
}
.parallax-2 {
    background-image: url(../img/computers.jpg);
}
.parallax-3 {
    background-image: url(../img/tools.jpg);
}
.parallax-4 {
    background-image: url(../img/guy-bench.jpg);
    background-position-y: 80%;
}
.parallax-5 {
    background-image: url(../img/portland.jpg);
}

@media only screen and (max-width: 768px) {
    .parallax-1,
    .parallax-2,
    .parallax-3,
    .parallax-4,
    .parallax-5 {
        height: 225px;
    }
}

/* --- NAV --- */

nav {
    display: block;
    position: fixed;
    top: 0;
    left: -260px;
    width: 250px;
    height: fit-content;
    padding: 0px;
    margin: 10px;
    background-color: rgb(143,191,233);
    z-index: 101;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
nav a {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 50px;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    padding-left: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: rgb(32, 130, 211);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    /* border-radius: 15px; */
}
nav a:hover {
    
    background-color: rgb(143,191,233);
}
.nav-open-btn {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 75px;
    height: 75px;
    padding: 15px;
    font-size: 45px;
    color: black;
    background-color: aliceblue;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out 250ms;
}
.nav-close-btn {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    font-size: 45px;
    text-align: right;
    background-color: rgb(32, 130, 211);
    border-bottom: 2px solid white;
    text-shadow: 0px 0px 2px gray;
    cursor: pointer;
}
.nav-filler {
    height: 50px;
    background-color: rgb(32, 130, 211);
    border-top: 2px solid white;
}

@media only screen and (max-width: 768px) {
    nav {
        left: -210px;
        width: 200px;
        height: fit-content;
        margin: 5px;
    }
    nav a {
        height: 30px;
        margin-bottom: 10px;
    }
    .nav-filler {
        height: 25px;
    }
    .nav-open-btn {
        top: 5px;
        left: 5px;
        width: 60px;
        height: 60px;
        padding: 10px;
        font-size: 40px;
    }
    .nav-close-btn {
        top: 5px;
        left: 5px;
        width: 45px;
        height: 45px;
        margin: 5px;
        margin-left: auto;
        padding: 5px;
        font-size: 35px;
        border-radius: 50%;
        border: none;
    }
}

/*  --- BANNER --- */

.banner {
    display: grid;
    grid-template-areas: 
                "text-1 image"                     
                "text-2 image";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    align-items: center;
    justify-items: stretch;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: 500px;
    padding: 10px 20px; 
    background-
    box-shadow: 0 4px 4px -2px gray;
    border-bottom: 5px solid rgb(32, 130, 211);
}
.banner::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 500px;
    background-color: rgb(32, 130, 211);
    opacity: 0.5;
    z-index: 98;
}
.guy-img-container {
    display: block;
    grid-area: image;
}
.guy-img {
    display: block;
    width: 100%;
    max-width: 460px;
    height: auto;
    border-radius: 50%;
    filter: grayscale(75%);
}
.banner h1 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.6rem;
    line-height: 3rem;
    margin-bottom: 0;
}
.banner-text-1 {
    grid-area: text-1;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    width: 100%;
    height: 50%;
    border-bottom: 1px dashed white;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
    z-index: 99;
}
.banner-text-2 {
    grid-area: text-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding-top: 30px;
    margin-left: -25px;
    z-index: 99;
}
.banner-text-2 ul {
    list-style: none;
    cursor: default;
    text-align: center;
    margin-bottom: 0px;
}
.banner-text-2 li,
.banner-text-2 p {
    display: inline-block;
    font-size: 1.2rem;
    padding: 10px;
    align-self: center;
}

@media only screen and (max-width: 768px) {
    .banner {
        grid-template-areas: 
                    "image"
                    "text-1"
                    "text-2";
        grid-template-rows: 2fr 1fr 2fr;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        height: 550px;
    }
    .banner::before {
        height: 550px;
    }
    .guy-img-container{
        justify-content: center;
        align-self: center;
        align-items: center;
    }
    .guy-img {
        max-width: 335px;
        align-self: center;
        margin: 0 auto;
    }
    .banner h1 {
        margin-top: -65px;
        margin-bottom: 15px;
    }
    .banner-text-2 {
        margin-top: 10px;
    }
    .banner-text-2 ul {
        display: block;
    }
    .banner-text-2 li,
    .banner-text-2 p {
        margin-top: 0;
        padding: 5px;
    }
}

@media only screen and (min-width: 1058px) {
    .banner h1 {
        font-size: 2.5rem;
    }
    .banner-text-2 li,
    .banner-text-2 p {
        font-size: 1.5rem;
    }
}

/*  --- BLURBS --- */
.blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    padding-top: 0px;
    background-color: rgba(32, 130, 211, 0.5);
    box-shadow: 0 4px 4px -2px gray;
    border-top: 5px solid rgb(32, 130, 211);
    border-bottom: 5px solid rgb(32, 130, 211);
}
.blurb h2 {
    margin-top: 0;
}
.blurb h2,
.blurb p {
    max-width: 65%;
    text-align: center;
    margin-bottom: 0px;
}
.blurb h2 {
    letter-spacing: 0.4rem;
}
.last-blurb {
    border-bottom: none;
}

@media only screen and (max-width: 768px) {
    .blurb {
        width: 100%;
        height: fit-content;
        padding: 10px;
    }
    .blurb h2 {
        font-size: 1.75rem;
        letter-spacing: normal;
    }
}
@media only screen and (min-width: 1058px) {
    .blurb p {
        width: 40%;
        font-size: 1.1rem;
    }
}

/* --- SKILLS PAGE --- */


/* --- BANNER --- */
.skills.banner {
    display: flex;
    flex-direction: column;
    height: 250px;
    margin-bottom: 25px;
    padding: 0px;
    background-color: rgb(143,191,233);
    border-top: none;
}
.skills.banner::before {
    display: none;
}
.skills .banner-text-1 {
    width: 65%;
    margin: 0 auto;
    text-align: center;
}   
.skills .banner-text-2 {
    width: 65%;
    margin: 0 auto;
    
    padding-top: 0;
    text-align: center;
}

@media only screen and (max-width:768px) {
    .skills.banner h1 {
        margin-top: 30px;
        letter-spacing: normal;
    }
}

/* SKILLS LIST */

#skills {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    width: 100%;
    background-color: rgb(143,191,233);
    border-top: 5px solid rgb(32, 130, 211);
}
.category-select-container {
    display: block;
    position: relative;
    width: 85%;
    margin-bottom: 15px;
    padding: 0 10px;
    z-index: 99;
}
#filter-btn {
    display: block;
    list-style-type: none;
    width: 100px;
    padding: 5px;
    background-color: rgb(143,191,233);
    border: 3px solid rgb(32, 130, 211);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}
#filter-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    width: 150px;
    height: 0px;   
    padding-left: 0px;
    margin: 0;
    background-color: rgb(143,191,233);
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.category-select-container ul li {
    display: block;
    width: 100%;
    padding: 5px;
    padding-left: 25px;
    border-bottom: 3px solid rgb(32, 130, 211);
    cursor: pointer;
}
.category-select-container .last-menu-item {
    border: none;
}
.skill-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20%;
    margin: 10px;
    padding: 25px;
    background-color: aliceblue;
    transition: all 0.3s ease-in-out;
}
.skill-container:hover {
    margin-top: -15px;
    margin-bottom: 15px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
}
.skill-container:hover .icon {
    opacity: 1;
}
.icon {
    width: auto;
    height: 100px;
    max-width: 100%;
    opacity: 0.75;
    transition: opacity 0.3s ease-in-out;
}
.updating,
.favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    color:white;
    /* border-top: 3px solid rgb(32, 130, 211); */
    background-color: rgba(32, 130, 211, 0.5);
}

@media only screen and (max-width: 768px) {
    #skills {
        padding: 10px;
    }
    .category-select-container {
        width: 92%;
    }
    .skill-container {
        width: 30%;
        margin: 5px;
        padding: 15px 0;
    }
    .skill-container:hover {
        margin: 5px;
    }
    .icon {
        /* max-width: 75px; */
        opacity: 1;
    }
    .updating,
    .favorite {
        font-size: 0.6rem;
        height: 23px;
        color: rgba(255 255 255 / 0.7)
    }
}